.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
}
.container2{
    max-width: 1110px;
    margin: 0 auto;
    padding: 102px 0;
}
.footer__container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 32px 0;
}
.header__container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 32px 0;
}
@media screen and (max-width:480px) and (min-width:320px){
    .container{
        max-width: 311px;
        margin: 0 auto;
        padding: 0;
    }
    .header__container{
        
    }
}