.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0;
}
.container2{
    max-width: 1110px;
    margin: 0 auto;
    padding: 102px 0;
}
.footer__container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 32px 0;
}